model_config_list: {
  config: {
    name: "f4e44a731f7df858",
    base_path: "/models/f4e44a731f7df858",
    model_platform: "tensorflow"
  },
  config: {
    name: "6f697701fc10ce13",
    base_path: "/models/6f697701fc10ce13",
    model_platform: "tensorflow"
  },
  config: {
    name: "54aae1ca6f0d5eae",
    base_path: "/models/54aae1ca6f0d5eae",
    model_platform: "tensorflow"
  },
  config: {
    name: "3c27c64bd11d5643",
    base_path: "/models/3c27c64bd11d5643",
    model_platform: "tensorflow"
  },
  config: {
    name: "e4e037194ec6f091",
    base_path: "/models/e4e037194ec6f091",
    model_platform: "tensorflow"
  },
  config: {
    name: "a062e0a2781b3d55",
    base_path: "/models/a062e0a2781b3d55",
    model_platform: "tensorflow"
  }
}
